header {
	text-align: center;
}

h2 {
	font-family: Lobster, Monospace;
	color: ;
}

.online {
	background-color: #84e184;
	text-align: center;
	padding: 5px;
	margin-bottom: 2px;
}

p {
	text-align: center;
	padding: 10px;
}


.offline {
	background-color: #80ccff;
	text-align: center;
	padding: 5px;
	margin-bottom: 2px;
}

img {
	width: 75px;
	border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

}

.col-xs-8 {

}

body{
	background-color: #f2f2f2;
}

.main {
	background-color: white;
}
